* text=auto eol=lf

extlibs/**/* -text -eol
src/SFML/Graphics/stb_image/**/* -text -eol

*.png -text -eol
*.jpg -text -eol
*.wav -text -eol
*.ogg -text -eol
*.tff -text -eol
*.icns -text -eol
*.rtf -text -eol