* text=auto eol=lf

extlibs/**/* -text -eol linguist-vendored

*.png -text -eol
*.jpg -text -eol
*.wav -text -eol
*.ogg -text -eol
*.flac -text -eol
*.tff -text -eol
*.icns -text -eol
*.rtf -text -eol
