<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<!--
SFML - Simple and Fast Multimedia Library
Copyright (C) 2007-2011 Marco Antognini (antognini.marco@gmail.com), 
                        Laurent Gomila (laurent.gom@gmail.com), 
                        
This software is provided 'as-is', without any express or implied warranty.
In no event will the authors be held liable for any damages arising from the use of this software.

Permission is granted to anyone to use this software for any purpose,
including commercial applications, and to alter it and redistribute it freely,
subject to the following restrictions:

1. The origin of this software must not be misrepresented;
   you must not claim that you wrote the original software.
   If you use this software in a product, an acknowledgment
   in the product documentation would be appreciated but is not required.
   
2. Altered source versions must be plainly marked as such,
   and must not be misrepresented as being the original software.
   
3. This notice may not be removed or altered from any source distribution.
-->
<!-- 
	 ###########################################################################
     ******************************** org.sfml-dev.app template ****************
     ###########################################################################
-->
			
			<!-- *** Ancestors Hierarchy *** -->
	<key>Ancestors</key>
	<array>
		<string>org.sfml-dev.AppBase</string>
		<string>com.apple.dt.unit.bundleBase</string>
	</array>
	
			<!-- *** This is a Concrete Template *** -->
	<key>Concrete</key>
	<true/>
	
			<!-- *** Basic Stuff *** -->
	<key>Description</key>
	<string>This template builds bundle application using SFML.</string>
	<key>Identifier</key>
	<string>org.sfml-dev.app</string>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	
	<key>Nodes</key>
	<array>
		<string>___PACKAGENAME___-Info.plist:Basics</string>
	</array>
	
	<key>Definitions</key>
	<dict>
		<key>___PACKAGENAME___-Info.plist:Basics</key>
		<string>&lt;key&gt;CFBundleDevelopmentRegion&lt;/key&gt;
&lt;string&gt;en&lt;/string&gt;
&lt;key&gt;CFBundleExecutable&lt;/key&gt;
&lt;string&gt;${EXECUTABLE_NAME}&lt;/string&gt;
&lt;key&gt;CFBundleIconFile&lt;/key&gt;
&lt;string&gt;&lt;/string&gt;
&lt;key&gt;CFBundleInfoDictionaryVersion&lt;/key&gt;
&lt;string&gt;6.0&lt;/string&gt;
&lt;key&gt;CFBundleName&lt;/key&gt;
&lt;string&gt;${PRODUCT_NAME}&lt;/string&gt;
&lt;key&gt;CFBundlePackageType&lt;/key&gt;
&lt;string&gt;APPL&lt;/string&gt;
&lt;key&gt;CFBundleSignature&lt;/key&gt;
&lt;string&gt;????&lt;/string&gt;
</string>
	</dict>
	
			<!-- *** Project's Targets *** -->
    <key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.application</string>
			<key>SharedSettings</key>
			<dict>
				<key>WRAPPER_EXTENSION</key>
				<string>app</string>
				
				<key>GCC_PRECOMPILE_PREFIX_HEADER</key>
				<string>NO</string>
				
				<key>GCC_PREFIX_HEADER</key>
				<string></string>
			</dict>
			<key>Configurations</key>
			<dict>
				<key>Debug</key>
				<dict>
					<key>COPY_PHASE_STRIP</key>
					<string>NO</string>
					<key>GCC_DYNAMIC_NO_PIC</key>
					<string>NO</string>
				</dict>
				<key>Release</key>
				<dict>
					<key>COPY_PHASE_STRIP</key>
					<string>YES</string>
				</dict>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
